.picker {
  position: absolute;
  background: black;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
}

.preview {
  height: 30px;
  margin-bottom: 5px;
}

.pointer {
  display: block;
  position: absolute;
  border: 10px transparent solid;
  border-bottom: 10px black solid;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
}

.palette {
  position: relative;
}

.palette > div {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid transparent;
  transition: 0.05s all;
  padding: 0;
}

.palette > div:hover {
  background: blue;
  z-index: 2;
  border: 1px white solid;
}

.palette.no-zoom > div:hover {
  padding: 0%;
}

.palette.low-zoom > div:hover {
  padding: 2%;
}

.palette.medium-zoom > div:hover {
  padding: 3%;
}

.palette.high-zoom > div:hover {
  padding: 4%;
}

div.light:hover {
  border: 1px solid #555;
}