.palette {
  position: relative;
  top: 50px;
  left: 50px;
  border:  1px solid;
}

.palette > div {
  position: absolute;
  background: red;
  display: inline-block;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid white;
  transition: 0.05s all;
}

.palette > div:hover {
  width: 22px!important;
  height: 22px!important;
  background: blue;
  z-index: 2;
  border: 1px white solid;
}